<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue.js</title>
  </head>
  <body>
    <div id="app">
      <form>
        <label for="dog">いぬ</label>
        <input type="radio" id="dog" value="いぬ" v-model="pet" />
        <br />
        <label for="cat">ねこ</label>
        <input type="radio" id="cat" value="ねこ" v-model="pet" />
        <br />
        <label for="other">そのほか</label>
        <input type="radio" id="other" value="その他" v-model="pet" />
        <br />
      </form>
      <div>ぺっと：{{pet}}</div>
    </div>
    <script src="lib/vue.global.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue@3.2.29/dist/vue.global.js"></script> -->
    <script src="js/event.js"></script>
  </body>
</html>
